<h1>Name: </h1>
<%= "Amy Shen" %>
<br/>
<h1>Hometown: </h1>
<%= "Fremont" %>
<br/>
<h1>Year: </h1>
<%= "Sophomore" %>
<br />
<h1>Fun Fact: </h1>
<%= "I have five piercings! Wow" %>
<br />
<h1>What I'm Most Excited About: </h1>
<%= "Showing off my web skills to my parents and making cool animated sites" %>
<br />
<h1>Me: </h1>
<%=image_tag("me.jpg" , width: "50%")%>
<br />